<!--Код контакты. Используется в карточках товаров и на странице контакты.-->

<div class="bg-light p-30 mb-3">
    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>220075, г. Минск, ул. Инженерная</p>
    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>bogdan@example.com</p>
    <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+375 29 1111111</p>
    <div class="d-flex">
        <a class="btn btn-primary btn-square mr-2" href="{{ facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-primary btn-square" href="{{ instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
</div>