{% extends "mainsite_new/base.html" %}
{% load static %}

{% block title %}
КАТАЛОГ
{% endblock %}

{% block main_new %}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'mainsite_products' %}">Главная</a>
                <span class="breadcrumb-item active">Каталог</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Start -->

    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                 <!-- Size Start -->
                <form action=" {% url 'filter' %}" method="get">
                    <div class="left-side">
                        <h3 class="sear-head editContent">Категории</h3>
                        <ul class="w3layouts-box-list">
                            {% for category in category %}
                                <li class="editContent">
                                    <input type="checkbox" class="checked" name="category" value="{{ category.id }}">
                                    <span class="span editContent">{{ category.name }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="left-side">
                        <h3 class="sear-head editContent">Диапазон цен</h3>
                        <ul class="w3layouts-box-list">
                            {% for filter_price in filter_price %}
                                <li class="editContent">
                                    <input type="checkbox" class="checked" name="filter_price" value="{{ filter_price.id }}">
                                    <span class="span editContent">{{ filter_price.name }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                <div class="left-side">
                        <h3 class="sear-head editContent">Наличие на складе</h3>
                        <ul class="w3layouts-box-list">
                            {% for filter_availability in filter_availability %}
                                <li class="editContent">
                                    <input type="checkbox" class="checked" name="filter_availability" value="{{ filter_availability.id }}">
                                    <span class="span editContent">{{ filter_availability.name }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <button type="submit">НАЙТИ</button>
                </form>
            </div>
            <!-- Shop Sidebar End -->

            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>
                                <!--<button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                                <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>-->
                            </div>
                            <div class="ml-2">
                            </div>
                        </div>
                    </div>

                    {% include "mainsite_new/product_card.html" %}

                    <div class="container-fluid pt-5">
                        <div class="pagination">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1">&laquo; ПЕРВАЯ</a>
                                    <a href="?page={{ page_obj.previous_page_number }}">ПРЕДЫДУЩАЯ</a>
                                {% endif %}

                                <span class="current">
                                    СТРАНИЦА {{ page_obj.number }} ИЗ {{ page_obj.paginator.num_pages }}.
                                </span>

                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}">СЛЕДУЮЩАЯ</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}">ПОСЛЕДНЯЯ &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->



{% endblock %}