{% extends "mainsite_new/base.html" %}
{% load static %}

{% block title %}
КОНТАКТЫ
{% endblock %}

{% block main_new %}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'mainsite_products' %}">Главная</a>
                <span class="breadcrumb-item active">Контакты</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Contact Start -->
<div class="container-fluid">
    <h4 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Заполните форму и мы вам перезвоним как только это будет возможно.</span></h4>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <form name="sentContact" form method="post" novalidate="novalidate">
                    {% csrf_token %}
                    <label>
                        <input name="form_type" value="sentContact" hidden>
                    </label>
                    <div class="control-group">
                        {{ form.name }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        {{ form.phone }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        {{ form.email }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        {{ form.message }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Отправить сообщение</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            <div style="position:relative;overflow:hidden;"><a href="https://yandex.by/maps/157/minsk/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Минск</a><a href="https://yandex.by/maps/157/minsk/house/Zk4YcA9kS0AEQFtpfXRyd3xgZQ==/?ll=27.684253%2C53.836031&utm_medium=mapframe&utm_source=maps&z=16.39" style="color:#eee;font-size:12px;position:absolute;top:14px;">Промышленный переулок, 14 — Яндекс Карты</a><iframe src="https://yandex.by/map-widget/v1/-/CCUvnOGogC" width="490" height="395" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
            {% include "mainsite_new/address_phone.html" %}
        </div>
    </div>
</div>
{% endblock %}


