{% extends "mainsite_new/base.html" %}
{% load static %}

{% block title %}
Публикация
{% endblock %}

{% block main_new %}
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'mainsite_products' %}">Главная</a>
                <span class="breadcrumb-item active">Новости и статьи</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<div class="row bg-secondary py-1 px-xl-5">
    <div class="col-lg-6 d-none d-lg-block">
        <div class="d-inline-flex align-items-center h-100">
        </div>
    </div>
    <div class="col-lg-6 text-center text-lg-right">
        <div class="d-inline-flex align-items-left">
            <a class="text-body mr-3" href="#">Новости</a>
            <a class="text-body mr-3" href="#">Статьи</a>

        </div>
        <div class="d-inline-flex align-items-center d-block d-lg-none">

        </div>
    </div>
</div>


{% for publication in publications %}
<div class="container-fluid pb-5">
    <H4>{{ publication.title }}</H4>
    <p>{{ publication.date_created }}</p>
    <p>{{ publication.descr|truncatechars:180 }}</p>
</div>
{% endfor %}



{% endblock %}