<form method="post">
    {% csrf_token %}
    <div class="form-floating">
        {{ contact_form.name }}
        <label for="name">Имя</label>
    </div>
    <div class="form-floating">
        {{ contact_form.phone }}
        <label for="phone">Номер телефона</label>
    </div>
    <div class="form-floating">
        {{ contact_form.email }}
        <label for="email">Адрес электронной почты</label>
    </div>
    <div class="form-floating">
        {{ contact_form.message }}
        <label for="message">Сообщение</label>
    </div>
    <br />
    <div class="d-none" id="submitSuccessMessage">
        <div class="text-center mb-3">
            <div class="fw-bolder">Form submission successful!</div>
        </div>
    </div>
    <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
</form>