{% extends "mainsite/base.html" %}
{% load static %}

{% block title %}
BOGDAN
{% endblock %}

{% block image %}
style="background-image: url('{% static 'assets/img/home-bg.jpg' %}')"
{% endblock %}

{% block heading %}
<h1>{{ heading }}</h1>
<span class="subheading">{{ subheading }}</span>
{% endblock %}

{% block main %}
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">


            {% include "mainsite/post_list.html" %}

            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>

            {% include "mainsite/form_contact.html" %}

<!--            <form method="post">-->
<!--                {% csrf_token %}-->
<!--                <label>-->
<!--                    <input name="contact_form_2" value="email_form" hidden>-->
<!--                </label>-->
<!--                {{my_form.email}}-->
<!--                <label>-->
<!--                    <input name="contact_form_2" value="phone_form" hidden>-->
<!--                </label>-->
<!--                {{my_form.phone}}-->
<!--                <button type="submit">ОТПРАВИТЬ</button>-->
<!--            </form>-->

        </div>
    </div>
</div>
{% endblock %}