{% extends "registration/base_registration.html" %}
{% load static %}

{% block title %}
АВТОРИЗАЦИЯ
{% endblock %}

{% block main_new %}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'mainsite_products' %}">Вернуться на главную страницу</a>
                <span class="breadcrumb-item active">Авторизация</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Contact Start -->
<div class="container-fluid">
    <h4 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Страница авторизации</span></h4>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <form name="sentMessage" form method="post" novalidate="novalidate">
                    {% csrf_token %}
                    <div class="control-group">
                        {{ form.username }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        {{ form.password }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <br>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Войти</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            Для того чтобы войти в личный кабинет, необходимо ввести логин и пароль.
            <p></p>
            <a class="breadcrumb-item text-dark" href="{% url 'signup' %}">Если вы еще не зарегистрировались, перейдите на страницу "РЕГИСТРАЦИЯ".</a>
        </div>
    </div>
</div>
{% endblock %}